h1,h2,h3,h4,h5,h6{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
body{
    max-width: 960px;
    margin: auto;
    font-family:  Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}
h1{
    text-align: center;
    background-color: darkgray;
    line-height: 2;
    background-image: url(https://www.xbmu.edu.cn/images/dbxx.png);
    background-repeat: repeat;
    background-position: 50%50%;
}
div p{
    font-size: 16px;
    line-height: 1.8;
    text-indent: 2em;
    color: rgb(25, 209, 47);s
}
.normal {
    line-height: 3;
}
#home{
    color: green;
}
a:link{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: rgb(6, 180, 81);
}
a:hover{
color: coral;
    text-decoration: double;
}

.wave{
    text-decoration: wavy underline chartreuse;
    line-height: 200%;
}
h2::after{
    content: "😂";
    margin-left: 2em;
    display: block;
    position: relative;
    top: 50%;
}
h2::before{
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background-image: url(https://www.xbmu.edu.cn/images/title_tp5.png);
    background-repeat: no-repeat;
    left: 0.01em;
}

footer p a{
    color: rgb(211, 80, 19);
    font-size: 90px;
    text-align: center;
}
h2{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
width: fit-content;
padding: 10px;
border-radius: 4px;
position: relative;
padding-left: 4em;
}
ul li{
    display: inline-block;
    width: 400px;
}
